/*-----------------------------------
    COLORS
-----------------------------------*/
$color-primary: #e0752f;
$primary: $color-primary;
$color-gray : #dce1da;
$color-footer:#343434;
$color-footer-p:#DCE1DA;
$font-footer-p:'Roboto', sans-serif;
$color-secondary: #E0752F;
$font-secondary: 'Roboto', sans-serif;
$color-2: #343434;
$color-4: #F2F4F1;
$color-3:$color-footer-p;

/*-----------------------------------
    FONTS
-----------------------------------*/
$font-terciary: 'Roboto', sans-serif;
$font-primary: 'Roboto', sans-serif;
$font-normal: 400;
$font-regular: 400;
$font-bold: 700;
$font-lighter: 300;
$font-semi: 600;
$font-medium: 500;
$color-quinary: #343434;
$color-letras:#2b2c26;